.repArticle {
    background-color:darkgoldenrod;
}

.repArticle__bioSection {

}

.repArticle__bioSection__repPhoto {

}

.repArticle__bioSection__repName {
    font-size: xx-large;

}

.repArticle__bioSection__districtInfo {


}

.repArticle__bioSection__affiliation {
    color:red
;
}

.repArticle__bioSection__committeesTitle {

}

.repArticle__bioSection__committees {

}

.repArticle__bioSection__committees__listItem {

}

.repArticle__bioSection__legislation {

}

.repArticle__bioSection__legislation__links {

}

